language: csharp
sudo: required
mono: none
dotnet: 2.1.400
dist: trusty
before_script:
  - chmod a+x ./build.sh
  - chmod a+x ./.nuget/deploy.sh
script:
  - ./build.sh
deploy:
  - provider: script
    script: ./.nuget/deploy.sh $TRAVIS_TAG $NUGET_API_KEY
    skip_cleanup: true
    on:
      tags: true