{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "modules": false,
        "targets": "defaults"
      }
    ]
  ],
  "plugins": [
    "rewire",
    //  "@babel/plugin-proposal-class-properties"
  ],
  "ignore": [
    "dist/*.js"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage",
            "corejs": 3,
            "modules": "auto"
          }
        ]
      ],
      "plugins": [
        "rewire",
        // "@babel/plugin-proposal-class-properties"
      ],
      "ignore": [
        "dist/*.js"
      ]
    }
  }
}
